$c-bg: #FBF9F5;
$c-border: #F0F0F0;

$c-white: #fff;
$c-gray: #555;
$c-light: #ccc;

$c-black: #001124;
$c-dark: #4A4A4A;

$c-btn-bg: rgba(0,0,0,0.1);
$c-btn-bg-dark: rgba(0,0,0,0.2);

$c-wildcard: tomato;

$font1: 'Open Sans', sans-serif;
$font2: 'Montserrat', sans-serif;